body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:297px;
  height:620px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:620px;
}
#u2 {
  position:absolute;
  left:2px;
  top:302px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:73px;
  top:100px;
  width:250px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:84px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:286px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:81px;
  top:173px;
  width:236px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u10 {
  position:absolute;
  left:233px;
  top:150px;
  width:84px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:81px;
  top:212px;
  width:236px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u13 {
  position:absolute;
  left:81px;
  top:190px;
  width:59px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:303px;
  top:186px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:79px;
  top:252px;
  width:236px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u18 {
  position:absolute;
  left:79px;
  top:230px;
  width:61px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:301px;
  top:226px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:79px;
  top:292px;
  width:236px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u23 {
  position:absolute;
  left:79px;
  top:270px;
  width:61px;
  height:15px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:301px;
  top:266px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:88px;
  top:486px;
  width:220px;
  height:40px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:84px;
  top:150px;
  width:61px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
