body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:29px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:30px;
  top:75px;
  width:740px;
  height:140px;
  font-size:14px;
  color:#1E1E1E;
  line-height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:140px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:215px;
  width:740px;
  height:60px;
  font-size:14px;
  line-height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:60px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:275px;
  width:740px;
  height:160px;
  font-size:14px;
  line-height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:160px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:500px;
  width:740px;
  height:80px;
  font-size:14px;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:80px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:660px;
  width:740px;
  height:80px;
  font-size:14px;
  line-height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:80px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
