body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:50px;
  width:380px;
  height:790px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:790px;
}
#u1 {
  position:absolute;
  left:2px;
  top:387px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:194px;
  top:221px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:182px;
  top:157px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:287px;
  top:221px;
  width:190px;
  height:75px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:75px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:194px;
  top:380px;
  width:296px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u9 {
  position:absolute;
  left:220px;
  top:400px;
  width:46px;
  height:15px;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:287px;
  top:400px;
  width:190px;
  height:100px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:100px;
}
#u12 {
  position:absolute;
  left:2px;
  top:42px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:193px;
  top:338px;
  width:297px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:280px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:297px;
  height:1px;
}
#u14 {
  position:absolute;
  left:201px;
  top:318px;
  width:76px;
  height:15px;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:287px;
  top:318px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:358px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:309px;
  top:358px;
  width:53px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:193px;
  top:304px;
  width:297px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:280px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:297px;
  height:1px;
}
