body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:60px;
  width:380px;
  height:775px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:775px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:172px;
  top:173px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:182px;
  top:182px;
  width:32px;
  height:32px;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:192px;
  top:236px;
  width:58px;
  height:15px;
  font-size:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:182px;
  top:258px;
  width:298px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:298px;
  height:1px;
}
#u9 {
  position:absolute;
  left:260px;
  top:231px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:191px;
  top:274px;
  width:58px;
  height:15px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:181px;
  top:294px;
  width:299px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:299px;
  height:1px;
}
#u13 {
  position:absolute;
  left:259px;
  top:269px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:197px;
  top:434px;
  width:270px;
  height:35px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:190px;
  top:307px;
  width:69px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:182px;
  top:332px;
  width:299px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:299px;
  height:1px;
}
#u18 {
  position:absolute;
  left:259px;
  top:307px;
  width:200px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:182px;
  top:406px;
  width:88px;
  height:16px;
  color:#0000FF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:190px;
  top:346px;
  width:69px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:259px;
  top:346px;
  width:200px;
  height:43px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:182px;
  top:393px;
  width:299px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:299px;
  height:1px;
}
