body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:297px;
  height:620px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:620px;
}
#u2 {
  position:absolute;
  left:2px;
  top:302px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:73px;
  top:100px;
  width:250px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:84px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:286px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:130px;
  top:107px;
  width:70px;
  height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:150px;
  top:112px;
  width:30px;
  height:15px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:201px;
  top:107px;
  width:70px;
  height:24px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:216px;
  top:112px;
  width:39px;
  height:15px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:85px;
  top:200px;
  width:226px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:209px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:226px;
  height:1px;
}
#u18 {
  position:absolute;
  left:85px;
  top:150px;
  width:46px;
  height:46px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u19 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:139px;
  top:158px;
  width:90px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:141px;
  top:178px;
  width:99px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:269px;
  top:157px;
  width:47px;
  height:22px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:85px;
  top:270px;
  width:226px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:209px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:226px;
  height:1px;
}
#u27 {
  position:absolute;
  left:85px;
  top:220px;
  width:46px;
  height:46px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u28 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:139px;
  top:228px;
  width:90px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:141px;
  top:248px;
  width:149px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:269px;
  top:228px;
  width:47px;
  height:22px;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:84px;
  top:341px;
  width:226px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:209px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:226px;
  height:1px;
}
#u36 {
  position:absolute;
  left:84px;
  top:291px;
  width:46px;
  height:46px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u37 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:138px;
  top:299px;
  width:90px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:140px;
  top:319px;
  width:149px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:275px;
  top:300px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:268px;
  top:178px;
  width:50px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:267px;
  top:250px;
  width:50px;
  height:15px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:264px;
  top:319px;
  width:50px;
  height:15px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
