body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:60px;
  width:380px;
  height:700px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:192px;
  top:160px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:212px;
  top:168px;
  width:32px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:468px;
  top:169px;
  width:32px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:351px;
  top:210px;
  width:160px;
  height:42px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u9 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:191px;
  top:210px;
  width:160px;
  height:42px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:237px;
  top:222px;
  width:73px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:399px;
  top:222px;
  width:81px;
  height:16px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:191px;
  top:252px;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u18 {
  position:absolute;
  left:2px;
  top:196px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:63px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:63px;
}
#u20 {
  position:absolute;
  left:2px;
  top:24px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:8px;
  top:34px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:210px;
  top:10px;
  width:10px;
  height:41px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u26 {
  position:absolute;
  left:240px;
  top:5px;
  width:60px;
  height:51px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u27 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:57px;
  width:319px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:67px;
  width:319px;
  height:63px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:63px;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:59px;
  top:75px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:59px;
  top:99px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:210px;
  top:77px;
  width:10px;
  height:41px;
}
#u35_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u35_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u35_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u36 {
  position:absolute;
  left:240px;
  top:72px;
  width:60px;
  height:51px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u37 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:124px;
  width:319px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u39 {
  position:absolute;
  left:10px;
  top:75px;
  width:40px;
  height:43px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u16_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u42 {
  position:absolute;
  left:2px;
  top:196px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:8px;
  top:34px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:210px;
  top:10px;
  width:10px;
  height:41px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u50 {
  position:absolute;
  left:240px;
  top:4px;
  width:60px;
  height:51px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u51 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:60px;
  width:319px;
  height:60px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:10px;
  top:70px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:8px;
  top:94px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:210px;
  top:70px;
  width:10px;
  height:41px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u59 {
  position:absolute;
  left:240px;
  top:64px;
  width:60px;
  height:51px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u60 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:344px;
  top:210px;
  width:10px;
  height:42px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
