body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:30px;
  width:380px;
  height:730px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:730px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:144px;
  top:200px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:144px;
  top:247px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:144px;
  top:290px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:144px;
  top:325px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:135px;
  top:362px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:141px;
  top:552px;
  width:48px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:112px;
  top:137px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:130px;
  top:226px;
  width:280px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u17 {
  position:absolute;
  left:130px;
  top:270px;
  width:280px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u18 {
  position:absolute;
  left:130px;
  top:313px;
  width:280px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u19 {
  position:absolute;
  left:130px;
  top:349px;
  width:280px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u20 {
  position:absolute;
  left:130px;
  top:378px;
  width:280px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u21 {
  position:absolute;
  left:130px;
  top:448px;
  width:280px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u22 {
  position:absolute;
  left:141px;
  top:422px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:238px;
  top:200px;
  width:92px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:230px;
  top:247px;
  width:92px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:224px;
  top:291px;
  width:175px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:220px;
  top:324px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:227px;
  top:422px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:128px;
  top:487px;
  width:280px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u35 {
  position:absolute;
  left:139px;
  top:461px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:225px;
  top:461px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:227px;
  top:392px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:199px;
  top:545px;
  width:200px;
  height:32px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:135px;
  top:390px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:133px;
  top:408px;
  width:280px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u46 {
  position:absolute;
  left:221px;
  top:362px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:128px;
  top:527px;
  width:280px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u49 {
  position:absolute;
  left:139px;
  top:501px;
  width:76px;
  height:16px;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:225px;
  top:501px;
  width:130px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:202px;
  top:598px;
  width:57px;
  height:29px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:311px;
  top:598px;
  width:61px;
  height:29px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
