body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:28px;
  top:25px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:28px;
  top:59px;
  width:652px;
  height:369px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:369px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:28px;
  top:517px;
  width:905px;
  height:110px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u25 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:48px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:100px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:200px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:300px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:400px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:500px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:600px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:700px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:800px;
  top:78px;
  width:100px;
  height:27px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:28px;
  top:488px;
  width:92px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:28px;
  top:687px;
  width:534px;
  height:443px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:443px;
}
#u61 {
  position:absolute;
  left:2px;
  top:214px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:28px;
  top:662px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:308px;
  top:1350px;
  width:27px;
  height:18px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:50px;
  top:1168px;
  width:235px;
  height:199px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:199px;
}
#u67 {
  position:absolute;
  left:2px;
  top:92px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
