body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:793px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:89px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:35px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:60px;
  top:1550px;
  width:720px;
  height:1072px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1072px;
}
#u5 {
  position:absolute;
  left:2px;
  top:528px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:1490px;
  width:53px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:73px;
  top:2740px;
  width:427px;
  height:733px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:733px;
}
#u9 {
  position:absolute;
  left:2px;
  top:358px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:73px;
  top:2695px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:73px;
  top:3590px;
  width:720px;
  height:1154px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1154px;
}
#u13 {
  position:absolute;
  left:2px;
  top:569px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:73px;
  top:3550px;
  width:53px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:60px;
  top:4860px;
  width:720px;
  height:1157px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1157px;
}
#u17 {
  position:absolute;
  left:2px;
  top:570px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:6160px;
  width:640px;
  height:1114px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1114px;
}
#u19 {
  position:absolute;
  left:2px;
  top:549px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:7400px;
  width:640px;
  height:1114px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1114px;
}
#u21 {
  position:absolute;
  left:2px;
  top:549px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:8620px;
  width:640px;
  height:1102px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1102px;
}
#u23 {
  position:absolute;
  left:2px;
  top:543px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:60px;
  top:8570px;
  width:53px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
