body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:511px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:511px;
}
#u3 {
  position:absolute;
  left:148px;
  top:68px;
  width:14px;
  height:20px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:89px;
  width:301px;
  height:490px;
  color:#F2F2F2;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:490px;
}
#u7 {
  position:absolute;
  left:2px;
  top:237px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:98px;
  top:108px;
  width:144px;
  height:13px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:98px;
  top:131px;
  width:133px;
  height:32px;
  font-size:28px;
  color:#FF9933;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:173px;
  width:301px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:218px;
  width:301px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:263px;
  width:301px;
  height:35px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:308px;
  width:301px;
  height:35px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:34px;
  top:183px;
  width:54px;
  height:16px;
  font-size:14px;
  color:#FF9933;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:219px;
  top:183px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#FF9933;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:34px;
  top:228px;
  width:54px;
  height:16px;
  font-size:14px;
  color:#FF9933;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:219px;
  top:228px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#FF9933;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:34px;
  top:272px;
  width:54px;
  height:16px;
  font-size:14px;
  color:#FF9933;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:219px;
  top:272px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#FF9933;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:34px;
  top:319px;
  width:54px;
  height:16px;
  font-size:14px;
  color:#FF9933;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:219px;
  top:319px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#FF9933;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:138px;
  top:548px;
  width:65px;
  height:15px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:343px;
  width:301px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u38_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u40 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:18px;
  top:15px;
  width:73px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:18px;
  top:45px;
  width:107px;
  height:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:148px;
  top:45px;
  width:106px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:18px;
  top:76px;
  width:148px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:18px;
  top:108px;
  width:120px;
  height:15px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:18px;
  top:140px;
  width:152px;
  height:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:18px;
  top:170px;
  width:170px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:156px;
  top:680px;
  width:21px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:294px;
  top:181px;
  width:20px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:294px;
  top:226px;
  width:20px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:294px;
  top:272px;
  width:20px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:294px;
  top:315px;
  width:20px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:20px;
  top:298px;
  width:301px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u65_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u67 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:18px;
  top:15px;
  width:73px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:18px;
  top:45px;
  width:107px;
  height:15px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:148px;
  top:45px;
  width:106px;
  height:15px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:18px;
  top:76px;
  width:148px;
  height:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:18px;
  top:108px;
  width:120px;
  height:15px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:18px;
  top:140px;
  width:152px;
  height:15px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:15px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:18px;
  top:170px;
  width:170px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
