body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:25px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:60px;
  width:323px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:124px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:30px;
  top:160px;
  width:700px;
  height:350px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:350px;
}
#u7 {
  position:absolute;
  left:2px;
  top:167px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:210px;
  width:146px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:216px;
  top:174px;
  width:289px;
  height:88px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:88px;
}
#u11 {
  position:absolute;
  left:2px;
  top:36px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:216px;
  top:470px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:30px;
  top:570px;
  width:113px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:30px;
  top:611px;
  width:396px;
  height:659px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:659px;
}
#u17 {
  position:absolute;
  left:2px;
  top:322px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:570px;
  top:760px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:436px;
  top:762px;
  width:124px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:107px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:124px;
  height:1px;
}
