body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:40px;
  width:380px;
  height:700px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:140px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:152px;
  top:148px;
  width:32px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:291px;
  top:190px;
  width:160px;
  height:42px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:131px;
  top:190px;
  width:160px;
  height:42px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u9 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:177px;
  top:202px;
  width:73px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:339px;
  top:202px;
  width:81px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:131px;
  top:232px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u16 {
  position:absolute;
  left:2px;
  top:196px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:110px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:110px;
}
#u18 {
  position:absolute;
  left:2px;
  top:47px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:10px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:8px;
  top:34px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:210px;
  top:10px;
  width:10px;
  height:41px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u24 {
  position:absolute;
  left:240px;
  top:5px;
  width:60px;
  height:51px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:72px;
  width:319px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u27 {
  position:absolute;
  left:192px;
  top:84px;
  width:51px;
  height:18px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:253px;
  top:84px;
  width:51px;
  height:18px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:8px;
  top:55px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u14_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u32 {
  position:absolute;
  left:2px;
  top:196px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:83px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:83px;
}
#u34 {
  position:absolute;
  left:2px;
  top:34px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:10px;
  top:10px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:8px;
  top:34px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:210px;
  top:10px;
  width:10px;
  height:63px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:46px;
  width:20px;
  height:18px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:63px;
}
#u40 {
  position:absolute;
  left:236px;
  top:17px;
  width:60px;
  height:51px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u41 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:83px;
  width:319px;
  height:87px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:87px;
}
#u43 {
  position:absolute;
  left:2px;
  top:36px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:10px;
  top:93px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:8px;
  top:117px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:210px;
  top:93px;
  width:10px;
  height:67px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:50px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:67px;
}
#u49 {
  position:absolute;
  left:236px;
  top:101px;
  width:60px;
  height:51px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:8px;
  top:58px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:8px;
  top:144px;
  width:150px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:288px;
  top:192px;
  width:10px;
  height:42px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
