body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:582px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:202px;
  top:121px;
  width:380px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:234px;
  top:235px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:241px;
  top:243px;
  width:32px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:276px;
  top:714px;
  width:240px;
  height:30px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:527px;
  top:520px;
  width:20px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:525px;
  top:484px;
  width:20px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u10 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:523px;
  top:443px;
  width:20px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u12 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:244px;
  top:410px;
  width:30px;
  height:16px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:241px;
  top:304px;
  width:58px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:524px;
  top:338px;
  width:20px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:241px;
  top:356px;
  width:306px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u20 {
  position:absolute;
  left:244px;
  top:338px;
  width:67px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:241px;
  top:457px;
  width:306px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u23 {
  position:absolute;
  left:243px;
  top:442px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:241px;
  top:500px;
  width:306px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u26 {
  position:absolute;
  left:243px;
  top:485px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:242px;
  top:535px;
  width:306px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u29 {
  position:absolute;
  left:244px;
  top:520px;
  width:87px;
  height:15px;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:525px;
  top:378px;
  width:20px;
  height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u32 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:243px;
  top:392px;
  width:306px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u34 {
  position:absolute;
  left:245px;
  top:376px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:526px;
  top:556px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:241px;
  top:571px;
  width:306px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u39 {
  position:absolute;
  left:243px;
  top:556px;
  width:87px;
  height:15px;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:236px;
  top:235px;
  width:320px;
  height:479px;
  opacity:0.800000011920929;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:479px;
}
#u42 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:234px;
  top:714px;
  width:320px;
  height:76px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:76px;
}
#u44 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:245px;
  top:747px;
  width:295px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u46 {
  position:absolute;
  left:376px;
  top:724px;
  width:40px;
  height:16px;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:376px;
  top:761px;
  width:40px;
  height:16px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
