body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:410px;
  font-size:10px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:16px;
  top:60px;
  width:165px;
  height:26px;
  font-size:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:155px;
  top:67px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:21px;
  top:67px;
  width:26px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:13px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:206px;
  top:0px;
  width:196px;
  height:410px;
  font-size:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:410px;
}
#u9 {
  position:absolute;
  left:2px;
  top:197px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:222px;
  top:60px;
  width:165px;
  height:26px;
  font-size:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:361px;
  top:67px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:227px;
  top:67px;
  width:26px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:24px;
  top:318px;
  width:149px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:230px;
  top:144px;
  width:153px;
  height:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:230px;
  top:163px;
  width:152px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:242px;
  top:169px;
  width:60px;
  height:15px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:230px;
  top:192px;
  width:152px;
  height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:242px;
  top:198px;
  width:60px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:230px;
  top:222px;
  width:152px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:242px;
  top:228px;
  width:60px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:230px;
  top:252px;
  width:152px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:242px;
  top:258px;
  width:60px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:228px;
  top:320px;
  width:149px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:365px;
  top:229px;
  width:7px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:364px;
  top:198px;
  width:8px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:413px;
  top:0px;
  width:196px;
  height:410px;
  font-size:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:410px;
}
#u41 {
  position:absolute;
  left:2px;
  top:197px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:429px;
  top:60px;
  width:165px;
  height:26px;
  font-size:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u43 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:568px;
  top:67px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:434px;
  top:67px;
  width:26px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:618px;
  top:0px;
  width:196px;
  height:410px;
  font-size:10px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:410px;
}
#u49 {
  position:absolute;
  left:2px;
  top:197px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:634px;
  top:60px;
  width:165px;
  height:26px;
  font-size:10px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u51 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:773px;
  top:67px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:639px;
  top:67px;
  width:26px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:823px;
  top:0px;
  width:196px;
  height:410px;
  font-size:10px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:410px;
}
#u57 {
  position:absolute;
  left:2px;
  top:197px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:839px;
  top:60px;
  width:165px;
  height:26px;
  font-size:10px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u59 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:978px;
  top:67px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:844px;
  top:67px;
  width:26px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:475px;
  top:131px;
  width:74px;
  height:32px;
  font-size:36px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:461px;
  top:202px;
  width:100px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:462px;
  top:107px;
  width:100px;
  height:14px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:677px;
  top:131px;
  width:74px;
  height:32px;
  font-size:36px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:656px;
  top:172px;
  width:121px;
  height:16px;
  font-size:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:663px;
  top:202px;
  width:100px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u74 {
  position:absolute;
  left:671px;
  top:107px;
  width:86px;
  height:14px;
  font-size:12px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:671px;
  top:146px;
  width:89px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:72px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:89px;
  height:1px;
}
#u77 {
  position:absolute;
  left:656px;
  top:174px;
  width:121px;
  height:14px;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:14px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:882px;
  top:131px;
  width:74px;
  height:32px;
  font-size:36px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:868px;
  top:202px;
  width:100px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82 {
  position:absolute;
  left:876px;
  top:107px;
  width:86px;
  height:14px;
  font-size:12px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:876px;
  top:146px;
  width:89px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:72px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:89px;
  height:1px;
}
#u85 {
  position:absolute;
  left:888px;
  top:175px;
  width:69px;
  height:14px;
  font-size:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:453px;
  top:170px;
  width:119px;
  height:27px;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:420px;
  top:420px;
  width:190px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:626px;
  top:420px;
  width:190px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:831px;
  top:420px;
  width:190px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:420px;
  top:460px;
  width:196px;
  height:410px;
  font-size:10px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:410px;
}
#u96 {
  position:absolute;
  left:2px;
  top:197px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:436px;
  top:520px;
  width:165px;
  height:26px;
  font-size:10px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u98 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:482px;
  top:591px;
  width:74px;
  height:32px;
  font-size:36px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:468px;
  top:722px;
  width:100px;
  height:25px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u102 {
  position:absolute;
  left:475px;
  top:567px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:451px;
  top:642px;
  width:136px;
  height:27px;
  font-size:12px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:27px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:454px;
  top:679px;
  width:130px;
  height:33px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u107 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:626px;
  top:460px;
  width:196px;
  height:410px;
  font-size:10px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:410px;
}
#u109 {
  position:absolute;
  left:2px;
  top:197px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:642px;
  top:520px;
  width:165px;
  height:26px;
  font-size:10px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u111 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:688px;
  top:591px;
  width:74px;
  height:32px;
  font-size:36px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:643px;
  top:700px;
  width:84px;
  height:40px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u115 {
  position:absolute;
  left:674px;
  top:567px;
  width:103px;
  height:14px;
  font-size:12px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:14px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:647px;
  top:642px;
  width:156px;
  height:41px;
  font-size:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:41px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:733px;
  top:700px;
  width:73px;
  height:40px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u120 {
  position:absolute;
  left:423px;
  top:880px;
  width:190px;
  height:30px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:632px;
  top:880px;
  width:190px;
  height:30px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:23px;
  top:90px;
  width:60px;
  height:15px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:23px;
  top:105px;
  width:149px;
  height:10px;
}
#u126_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:132px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:5px;
  width:149px;
  height:1px;
}
#u127 {
  position:absolute;
  left:23px;
  top:117px;
  width:147px;
  height:83px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:83px;
}
#u128 {
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:23px;
  top:210px;
  width:157px;
  height:91px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:91px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:234px;
  top:139px;
  width:153px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:228px;
  top:288px;
  width:149px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u134 {
  position:absolute;
  left:230px;
  top:96px;
  width:153px;
  height:44px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:44px;
}
#u135 {
  position:absolute;
  left:2px;
  top:14px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
