* {
    font: 14px/1.5 "Microsoft Yahei", 微软雅黑, adobe雅黑, "helvetica neue", tahoma, "hiragino sans gb", stheiti, 宋体, sans-serif;
    color: #333;
    outline: none;
}
html {
    background: url(bg.jpg);
}
header {
    margin-bottom: 10px;
    height: 60px;
    line-height: 60px;
    color: #eee;
    font-size: 22px;
    font-weight: bold;
    text-indent: 50px;
    border-bottom: 1px solid #285e8e;
    background: #3276b1;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
@media (min-width: 768px) {
    header {
        text-indent: 200px;
    }
}
@media (min-width: 1200px) {
    header {
        text-indent: 200px;
    }
}
header a {
    display: inline-block;
    padding: 2px;
    text-indent: 0;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}
header i {
    margin-left: 5px;
    color: #e0e0e0;
    font-size: 12px;
}
#title h1 {
    float: left;
    font-size: 18px;
    font-weight: bold;
}
section {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
section:not([id="title"]) {
    padding-bottom: 32px;
}
section a {
    color: #3276b1;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, sans-serif;
}
section h2 {
    padding: 0;
    margin: 0;
}
section h2 > a {
    float: left;
}
section h2 > s {
    margin-left: 5px;
    float: left;
    width: 16px;
    height: 16px;
    background: url("jquery.png") no-repeat;
}
.version {
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, sans-serif;
}
.url {
    margin-bottom: 5px;
}
.url li {
    position: relative;
    padding-bottom: 10px;
}
.url span {
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, sans-serif;
    word-break: break-all;
}
.url div {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.url button {
    width: 32px;
    background-color: #e1e1e1;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
#footer {
    margin: 3% 10% 0%;
    text-align: center;
    font-size: 12px;
    color: #888;
    font-family: Georgia,serif;
    font-style: italic;
}
#footer a {
    color: #3276b1;
    text-decoration: none;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 4%;
}