body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:136px;
  top:39px;
  width:1382px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1149px;
  top:57px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1028px;
  top:57px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:916px;
  top:57px;
  width:57px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:43px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:53px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:136px;
  top:118px;
  width:1382px;
  height:727px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:727px;
}
#u9 {
  position:absolute;
  left:2px;
  top:356px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:136px;
  top:119px;
  width:260px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:158px;
  top:126px;
  width:90px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:350px;
  top:119px;
  width:32px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:136px;
  top:151px;
  width:260px;
  height:29px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:136px;
  top:207px;
  width:260px;
  height:29px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:350px;
  top:151px;
  width:32px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1288px;
  top:57px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:206px;
  top:64px;
  width:120px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:708px;
  top:159px;
  width:61px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:396px;
  top:118px;
  width:1111px;
  height:205px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:205px;
}
#u29 {
  position:absolute;
  left:2px;
  top:94px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:423px;
  top:235px;
  width:280px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:398px;
  top:326px;
  width:1109px;
  height:472px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:472px;
}
#u33 {
  position:absolute;
  left:2px;
  top:228px;
  width:1105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1300px;
  top:365px;
  width:70px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1173px;
  top:405px;
  width:80px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1174px;
  top:459px;
  width:80px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:349px;
  top:206px;
  width:32px;
  height:32px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:485px;
  top:177px;
  width:70px;
  height:26px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u42_input:disabled {
  color:grayText;
}
#u43 {
  position:absolute;
  left:1404px;
  top:403px;
  width:85px;
  height:40px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:434px;
  top:335px;
  width:86px;
  height:22px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
}
#u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:82px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:425px;
  top:206px;
  width:350px;
  height:44px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:44px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:136px;
  top:179px;
  width:260px;
  height:29px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:351px;
  top:181px;
  width:32px;
  height:32px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:425px;
  top:221px;
  width:65px;
  height:17px;
  font-size:12px;
  text-align:right;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u54 {
  position:absolute;
  left:2px;
  top:1px;
  width:61px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:675px;
  top:58px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:785px;
  top:58px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u58 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:700px;
  top:370px;
  width:50px;
  height:20px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:136px;
  top:235px;
  width:260px;
  height:29px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:352px;
  top:233px;
  width:32px;
  height:32px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:489px;
  top:206px;
  width:290px;
  height:54px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:54px;
}
#u66 {
  position:absolute;
  left:2px;
  top:19px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:590px;
  top:247px;
  width:160px;
  height:50px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:534px;
  top:370px;
  width:56px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:510px;
  top:400px;
  width:90px;
  height:45px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:510px;
  top:447px;
  width:90px;
  height:45px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:517px;
  top:498px;
  width:90px;
  height:45px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:517px;
  top:545px;
  width:90px;
  height:45px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u78 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:517px;
  top:600px;
  width:90px;
  height:45px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u80 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:517px;
  top:647px;
  width:90px;
  height:45px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u82 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:517px;
  top:699px;
  width:90px;
  height:45px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u84 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:517px;
  top:746px;
  width:90px;
  height:45px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u86 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:675px;
  top:400px;
  width:104px;
  height:45px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
}
#u88 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:675px;
  top:447px;
  width:104px;
  height:45px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
}
#u90 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:675px;
  top:498px;
  width:115px;
  height:45px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u92 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:675px;
  top:545px;
  width:115px;
  height:45px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u94 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:681px;
  top:600px;
  width:115px;
  height:45px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u96 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:681px;
  top:647px;
  width:115px;
  height:45px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u98 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:681px;
  top:704px;
  width:115px;
  height:45px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u100 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:681px;
  top:751px;
  width:115px;
  height:45px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u102 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:898px;
  top:372px;
  width:50px;
  height:20px;
  text-align:left;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1173px;
  top:504px;
  width:80px;
  height:30px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1174px;
  top:558px;
  width:80px;
  height:30px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1178px;
  top:600px;
  width:80px;
  height:30px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1178px;
  top:654px;
  width:80px;
  height:30px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1178px;
  top:700px;
  width:80px;
  height:30px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1178px;
  top:754px;
  width:80px;
  height:30px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1404px;
  top:453px;
  width:85px;
  height:40px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1404px;
  top:503px;
  width:85px;
  height:40px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1404px;
  top:553px;
  width:85px;
  height:40px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1404px;
  top:603px;
  width:85px;
  height:40px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1404px;
  top:653px;
  width:85px;
  height:40px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1404px;
  top:703px;
  width:85px;
  height:40px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1404px;
  top:753px;
  width:85px;
  height:40px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1178px;
  top:365px;
  width:70px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1174px;
  top:460px;
  width:80px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1178px;
  top:504px;
  width:80px;
  height:30px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1179px;
  top:559px;
  width:80px;
  height:30px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1177px;
  top:600px;
  width:80px;
  height:30px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1178px;
  top:655px;
  width:80px;
  height:30px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1178px;
  top:699px;
  width:80px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1179px;
  top:754px;
  width:80px;
  height:30px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:857px;
  top:398px;
  width:121px;
  height:398px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:398px;
}
#u148 {
  position:absolute;
  left:2px;
  top:191px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:1100px;
  top:375px;
  width:50px;
  height:20px;
  text-align:left;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u150 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1080px;
  top:398px;
  width:84px;
  height:398px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:398px;
}
#u152 {
  position:absolute;
  left:2px;
  top:191px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
