body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:0px;
  width:1000px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:948px;
  top:15px;
  width:82px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:8px;
  width:97px;
  height:29px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:50px;
  top:50px;
  width:1000px;
  height:280px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:280px;
}
#u7 {
  position:absolute;
  left:2px;
  top:132px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:94px;
  top:80px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:161px;
  top:80px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:161px;
  top:109px;
  width:118px;
  height:19px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:94px;
  top:140px;
  width:146px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:330px;
  width:333px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:329px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:383px;
  top:330px;
  width:333px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:329px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:717px;
  top:330px;
  width:333px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:329px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:94px;
  top:260px;
  width:150px;
  height:40px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:50px;
  top:490px;
  width:1000px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:50px;
  top:446px;
  width:1000px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:94px;
  top:458px;
  width:60px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:570px;
  top:458px;
  width:60px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:94px;
  top:502px;
  width:60px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:970px;
  top:502px;
  width:60px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:970px;
  top:458px;
  width:60px;
  height:15px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:340px;
  top:458px;
  width:60px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:340px;
  top:502px;
  width:60px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:410px;
  top:390px;
  width:640px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:410px;
  top:390px;
  width:114px;
  height:40px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:936px;
  top:390px;
  width:114px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:704px;
  top:260px;
  width:150px;
  height:40px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:870px;
  top:260px;
  width:150px;
  height:40px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
