body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:0px;
  width:1000px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:948px;
  top:15px;
  width:82px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:8px;
  width:97px;
  height:29px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:50px;
  top:50px;
  width:1000px;
  height:280px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:280px;
}
#u7 {
  position:absolute;
  left:2px;
  top:132px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:94px;
  top:80px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:161px;
  top:80px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:161px;
  top:109px;
  width:107px;
  height:19px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:94px;
  top:140px;
  width:146px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:94px;
  top:170px;
  width:225px;
  height:19px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:94px;
  top:199px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:673px;
  top:112px;
  width:148px;
  height:22px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:673px;
  top:144px;
  width:197px;
  height:22px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:673px;
  top:176px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:673px;
  top:211px;
  width:178px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:673px;
  top:83px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:94px;
  top:228px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:738px;
  top:80px;
  width:43px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:94px;
  top:261px;
  width:119px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:50px;
  top:330px;
  width:500px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:50px;
  top:390px;
  width:1000px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:50px;
  top:440px;
  width:1000px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:550px;
  top:330px;
  width:500px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:244px;
  top:263px;
  width:119px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:401px;
  top:264px;
  width:119px;
  height:19px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:673px;
  top:250px;
  width:150px;
  height:40px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
