body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:511px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:511px;
}
#u3 {
  position:absolute;
  left:129px;
  top:69px;
  width:16px;
  height:20px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:49px;
  top:98px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:29px;
  top:91px;
  width:16px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:83px;
  width:301px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u11 {
  position:absolute;
  left:20px;
  top:121px;
  width:301px;
  height:126px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:126px;
}
#u12 {
  position:absolute;
  left:2px;
  top:55px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:19px;
  top:247px;
  width:301px;
  height:133px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:133px;
}
#u14 {
  position:absolute;
  left:2px;
  top:58px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:29px;
  top:130px;
  width:130px;
  height:16px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:20px;
  top:145px;
  width:301px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u18 {
  position:absolute;
  left:29px;
  top:155px;
  width:281px;
  height:32px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:208px;
  width:301px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u21 {
  position:absolute;
  left:29px;
  top:222px;
  width:184px;
  height:16px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:20px;
  top:114px;
  width:301px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u24 {
  position:absolute;
  left:29px;
  top:257px;
  width:130px;
  height:16px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:29px;
  top:282px;
  width:281px;
  height:32px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:335px;
  width:301px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u29 {
  position:absolute;
  left:29px;
  top:349px;
  width:184px;
  height:16px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:20px;
  top:380px;
  width:301px;
  height:126px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:126px;
}
#u32 {
  position:absolute;
  left:2px;
  top:55px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:29px;
  top:389px;
  width:130px;
  height:16px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:404px;
  width:301px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u36 {
  position:absolute;
  left:29px;
  top:414px;
  width:281px;
  height:32px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:467px;
  width:301px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u39 {
  position:absolute;
  left:29px;
  top:481px;
  width:184px;
  height:16px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:154px;
  top:555px;
  width:66px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:29px;
  top:191px;
  width:164px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:238px;
  top:191px;
  width:74px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:29px;
  top:316px;
  width:164px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:238px;
  top:316px;
  width:74px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:29px;
  top:448px;
  width:164px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:238px;
  top:448px;
  width:74px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:139px;
  top:95px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
