body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:25px;
  width:380px;
  height:705px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:705px;
}
#u1 {
  position:absolute;
  left:2px;
  top:344px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:128px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:152px;
  top:136px;
  width:32px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:132px;
  top:181px;
  width:320px;
  height:54px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
}
#u7 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:215px;
  top:188px;
  width:115px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:215px;
  top:208px;
  width:170px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:152px;
  top:203px;
  width:40px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:197px;
  top:181px;
  width:10px;
  height:54px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:37px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:54px;
}
#u15 {
  position:absolute;
  left:385px;
  top:181px;
  width:10px;
  height:54px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:37px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:54px;
}
#u16 {
  position:absolute;
  left:446px;
  top:203px;
  width:94px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  height:1px;
}
#u17 {
  position:absolute;
  left:550px;
  top:200px;
  width:80px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:132px;
  top:540px;
  width:320px;
  height:90px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u20 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:346px;
  top:571px;
  width:70px;
  height:23px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:180px;
  top:570px;
  width:74px;
  height:23px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:406px;
  top:191px;
  width:32px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
