body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:55px;
  width:380px;
  height:715px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:715px;
}
#u1 {
  position:absolute;
  left:2px;
  top:350px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:168px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:292px;
  top:218px;
  width:160px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:132px;
  top:218px;
  width:160px;
  height:42px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:178px;
  top:230px;
  width:68px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:340px;
  top:230px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:132px;
  top:260px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u14 {
  position:absolute;
  left:2px;
  top:196px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:40px;
  font-size:12px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:280px;
  top:14px;
  width:32px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:409px;
}
#u20 {
  position:absolute;
  left:2px;
  top:196px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:40px;
  font-size:12px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:280px;
  top:14px;
  width:32px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:152px;
  top:176px;
  width:32px;
  height:32px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
