body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:65px;
  width:570px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  white-space:nowrap;
}
