body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:66px;
  width:810px;
  height:360px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:360px;
}
#u1 {
  position:absolute;
  left:2px;
  top:172px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:25px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:66px;
  width:200px;
  height:360px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:360px;
}
#u5 {
  position:absolute;
  left:2px;
  top:172px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:96px;
  width:98px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:87px;
  top:128px;
  width:53px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:87px;
  top:156px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:87px;
  top:181px;
  width:119px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:250px;
  top:96px;
  width:575px;
  height:95px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:161px;
  top:0px;
  width:164px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:325px;
  top:0px;
  width:245px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:161px;
  top:30px;
  width:164px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:325px;
  top:30px;
  width:245px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:60px;
  width:161px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:161px;
  top:60px;
  width:164px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:325px;
  top:60px;
  width:245px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
