body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:297px;
  height:620px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:620px;
}
#u2 {
  position:absolute;
  left:2px;
  top:302px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:73px;
  top:100px;
  width:250px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:84px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:81px;
  top:149px;
  width:238px;
  height:32px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:221px;
  top:157px;
  width:89px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:90px;
  top:158px;
  width:60px;
  height:15px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:84px;
  top:191px;
  width:106px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:84px;
  top:216px;
  width:70px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:104px;
  top:222px;
  width:33px;
  height:18px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:163px;
  top:216px;
  width:70px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:185px;
  top:222px;
  width:33px;
  height:18px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:240px;
  top:216px;
  width:70px;
  height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:260px;
  top:222px;
  width:33px;
  height:18px;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:84px;
  top:254px;
  width:70px;
  height:28px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:104px;
  top:260px;
  width:33px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:163px;
  top:254px;
  width:70px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:185px;
  top:260px;
  width:33px;
  height:18px;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:240px;
  top:254px;
  width:70px;
  height:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:256px;
  top:260px;
  width:40px;
  height:18px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:84px;
  top:292px;
  width:70px;
  height:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:104px;
  top:298px;
  width:36px;
  height:18px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:163px;
  top:292px;
  width:70px;
  height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:180px;
  top:298px;
  width:48px;
  height:18px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:240px;
  top:292px;
  width:70px;
  height:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:251px;
  top:298px;
  width:48px;
  height:18px;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:84px;
  top:330px;
  width:70px;
  height:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:95px;
  top:336px;
  width:50px;
  height:18px;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:163px;
  top:330px;
  width:70px;
  height:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:175px;
  top:336px;
  width:48px;
  height:18px;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:84px;
  top:475px;
  width:226px;
  height:40px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:236px;
  top:440px;
  width:77px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:73px;
  top:140px;
  width:250px;
  height:400px;
  overflow:hidden;
  visibility:hidden;
}
#u62_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:400px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:400px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:400px;
}
#u64 {
  position:absolute;
  left:2px;
  top:192px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:30px;
  top:88px;
  width:190px;
  height:40px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u66 {
  position:absolute;
  left:30px;
  top:143px;
  width:190px;
  height:40px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:30px;
  top:200px;
  width:190px;
  height:40px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:76px;
  top:31px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:85px;
  top:375px;
  width:225px;
  height:35px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:35px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:90px;
  top:440px;
  width:86px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:89px;
  top:445px;
  width:90px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
