body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:1px;
  width:880px;
  height:569px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:569px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:570px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:570px;
}
#u3 {
  position:absolute;
  left:2px;
  top:277px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:159px;
  top:0px;
  width:721px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:18px;
  top:17px;
  width:101px;
  height:28px;
  font-size:20px;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:722px;
  top:15px;
  width:103px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:832px;
  top:15px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:232px;
  width:160px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:28px;
  top:85px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:27px;
  top:139px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:28px;
  top:246px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:28px;
  top:192px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:175px;
  top:103px;
  width:696px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:679px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:696px;
  height:2px;
}
#u23 {
  position:absolute;
  left:175px;
  top:71px;
  width:124px;
  height:35px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:203px;
  top:78px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:191px;
  top:134px;
  width:150px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:191px;
  top:164px;
  width:164px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:191px;
  top:224px;
  width:122px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:191px;
  top:254px;
  width:94px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:191px;
  top:283px;
  width:168px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:191px;
  top:313px;
  width:201px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:191px;
  top:343px;
  width:229px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:191px;
  top:373px;
  width:118px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:191px;
  top:404px;
  width:80px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:271px;
  top:404px;
  width:108px;
  height:126px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:126px;
}
#u46 {
  position:absolute;
  left:2px;
  top:55px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:191px;
  top:194px;
  width:136px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:327px;
  top:78px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
