body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:15px;
  width:380px;
  height:775px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:775px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:102px;
  top:129px;
  width:320px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:169px;
  top:267px;
  width:201px;
  height:193px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:193px;
}
#u5 {
  position:absolute;
  left:2px;
  top:88px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:122px;
  top:500px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:122px;
  top:138px;
  width:32px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:378px;
  top:138px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:243px;
  top:346px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
