body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:20px;
  width:380px;
  height:776px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:776px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:102px;
  top:134px;
  width:320px;
  height:504px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:15px;
  top:238px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:235px;
  top:238px;
  width:54px;
  height:15px;
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:3px;
  top:356px;
  width:284px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:267px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:284px;
  height:1px;
}
#u8 {
  position:absolute;
  left:227px;
  top:341px;
  width:41px;
  height:18px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:260px;
  top:334px;
  width:26px;
  height:26px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:9px;
  top:341px;
  width:57px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:69px;
  top:368px;
  width:103px;
  height:15px;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:9px;
  top:366px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:71px;
  top:400px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:101px;
  top:403px;
  width:24px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:215px;
  top:401px;
  width:60px;
  height:15px;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:15px;
  top:200px;
  width:32px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:81px;
  top:238px;
  width:53px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:5px;
  top:422px;
  width:284px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:267px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:284px;
  height:1px;
}
#u29 {
  position:absolute;
  left:241px;
  top:199px;
  width:32px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:9px;
  top:499px;
  width:284px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:267px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:284px;
  height:1px;
}
#u32 {
  position:absolute;
  left:70px;
  top:441px;
  width:103px;
  height:15px;
  font-size:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:439px;
  width:50px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:72px;
  top:473px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:102px;
  top:476px;
  width:24px;
  height:15px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:216px;
  top:474px;
  width:60px;
  height:15px;
  font-size:12px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:91px;
  top:199px;
  width:32px;
  height:32px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:47px;
  width:293px;
  height:141px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:141px;
}
#u45 {
  position:absolute;
  left:2px;
  top:62px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:160px;
  top:237px;
  width:53px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:170px;
  top:199px;
  width:32px;
  height:32px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:15px;
  top:268px;
  width:32px;
  height:32px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:9px;
  top:308px;
  width:61px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:9px;
  top:328px;
  width:277px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:260px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:277px;
  height:1px;
}
#u57 {
  position:absolute;
  left:92px;
  top:268px;
  width:32px;
  height:32px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:83px;
  top:307px;
  width:58px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:9px;
  top:4px;
  width:24px;
  height:24px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:9px;
  top:31px;
  width:30px;
  height:15px;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:102px;
  top:638px;
  width:320px;
  height:48px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:119px;
  top:654px;
  width:40px;
  height:16px;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:210px;
  top:653px;
  width:39px;
  height:16px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:378px;
  top:646px;
  width:34px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:301px;
  top:647px;
  width:32px;
  height:32px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
