body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:1px;
  width:880px;
  height:569px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:569px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:570px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:570px;
}
#u3 {
  position:absolute;
  left:2px;
  top:277px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:159px;
  top:0px;
  width:721px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:18px;
  top:17px;
  width:101px;
  height:28px;
  font-size:20px;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:722px;
  top:15px;
  width:103px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:832px;
  top:15px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:232px;
  width:160px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:28px;
  top:85px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:27px;
  top:139px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:28px;
  top:246px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:28px;
  top:192px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:175px;
  top:103px;
  width:696px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:679px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:696px;
  height:2px;
}
#u23 {
  position:absolute;
  left:296px;
  top:72px;
  width:124px;
  height:35px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:203px;
  top:78px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:327px;
  top:78px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:210px;
  top:135px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:297px;
  top:133px;
  width:200px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:210px;
  top:184px;
  width:49px;
  height:18px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:297px;
  top:182px;
  width:200px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:210px;
  top:232px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:297px;
  top:230px;
  width:200px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:210px;
  top:281px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:297px;
  top:279px;
  width:200px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:210px;
  top:350px;
  width:79px;
  height:38px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u42 {
  position:absolute;
  left:0px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
