body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:297px;
  height:620px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:620px;
}
#u2 {
  position:absolute;
  left:2px;
  top:302px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:73px;
  top:100px;
  width:250px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:84px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:286px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:83px;
  top:214px;
  width:236px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u10 {
  position:absolute;
  left:84px;
  top:167px;
  width:34px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:236px;
  top:150px;
  width:57px;
  height:54px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:54px;
}
#u13 {
  position:absolute;
  left:2px;
  top:19px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:304px;
  top:167px;
  width:16px;
  height:27px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:81px;
  top:260px;
  width:236px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u17 {
  position:absolute;
  left:273px;
  top:239px;
  width:22px;
  height:18px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:81px;
  top:238px;
  width:34px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:303px;
  top:234px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:79px;
  top:306px;
  width:236px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u24 {
  position:absolute;
  left:220px;
  top:282px;
  width:86px;
  height:18px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:79px;
  top:284px;
  width:34px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:301px;
  top:280px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:81px;
  top:347px;
  width:236px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u31 {
  position:absolute;
  left:81px;
  top:325px;
  width:34px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:303px;
  top:321px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:81px;
  top:387px;
  width:236px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u36 {
  position:absolute;
  left:81px;
  top:365px;
  width:34px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:303px;
  top:361px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:81px;
  top:427px;
  width:236px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u41 {
  position:absolute;
  left:81px;
  top:405px;
  width:34px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:303px;
  top:401px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:81px;
  top:473px;
  width:236px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u46 {
  position:absolute;
  left:81px;
  top:451px;
  width:69px;
  height:15px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:303px;
  top:447px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:81px;
  top:509px;
  width:236px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u51 {
  position:absolute;
  left:81px;
  top:487px;
  width:69px;
  height:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:303px;
  top:483px;
  width:16px;
  height:26px;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
