body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:159px;
  top:135px;
  width:1071px;
  height:575px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:575px;
}
#u1 {
  position:absolute;
  left:2px;
  top:280px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:159px;
  top:57px;
  width:1071px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:419px;
  top:136px;
  width:811px;
  height:574px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:574px;
}
#u5 {
  position:absolute;
  left:2px;
  top:279px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:935px;
  top:72px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:750px;
  top:72px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:518px;
  top:72px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:637px;
  top:72px;
  width:57px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:43px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:53px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:159px;
  top:136px;
  width:260px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:181px;
  top:144px;
  width:90px;
  height:16px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:373px;
  top:137px;
  width:32px;
  height:32px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:159px;
  top:168px;
  width:260px;
  height:29px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:159px;
  top:197px;
  width:260px;
  height:29px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:373px;
  top:165px;
  width:32px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1046px;
  top:72px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:731px;
  top:215px;
  width:300px;
  height:41px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:506px;
  top:179px;
  width:416px;
  height:35px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:373px;
  top:197px;
  width:32px;
  height:32px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:229px;
  top:82px;
  width:120px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:429px;
  top:143px;
  width:300px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:419px;
  top:163px;
  width:811px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:794px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:811px;
  height:1px;
}
#u39 {
  position:absolute;
  left:453px;
  top:192px;
  width:89px;
  height:16px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:542px;
  top:187px;
  width:300px;
  height:26px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:419px;
  top:223px;
  width:659px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:642px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:659px;
  height:1px;
}
#u44 {
  position:absolute;
  left:460px;
  top:248px;
  width:79px;
  height:16px;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:544px;
  top:245px;
  width:106px;
  height:22px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:670px;
  top:245px;
  width:106px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47_input:disabled {
  color:grayText;
}
#u48 {
  position:absolute;
  left:419px;
  top:278px;
  width:659px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:642px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:659px;
  height:1px;
}
#u49 {
  position:absolute;
  left:458px;
  top:308px;
  width:79px;
  height:16px;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:538px;
  top:302px;
  width:300px;
  height:26px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u52 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:419px;
  top:338px;
  width:659px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:642px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:659px;
  height:1px;
}
#u54 {
  position:absolute;
  left:460px;
  top:364px;
  width:79px;
  height:16px;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:540px;
  top:358px;
  width:300px;
  height:26px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u57 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1072px;
  top:168px;
  width:10px;
  height:542px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:525px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:542px;
}
#u59 {
  position:absolute;
  left:419px;
  top:398px;
  width:659px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:642px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:659px;
  height:1px;
}
#u60 {
  position:absolute;
  left:419px;
  top:460px;
  width:659px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:642px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:659px;
  height:1px;
}
#u61 {
  position:absolute;
  left:460px;
  top:430px;
  width:79px;
  height:16px;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:540px;
  top:424px;
  width:300px;
  height:26px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:458px;
  top:492px;
  width:79px;
  height:16px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:538px;
  top:486px;
  width:300px;
  height:26px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u68 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:419px;
  top:522px;
  width:659px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:642px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:659px;
  height:1px;
}
#u70 {
  position:absolute;
  left:432px;
  top:548px;
  width:108px;
  height:16px;
  font-size:14px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:538px;
  top:542px;
  width:300px;
  height:26px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u73 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:419px;
  top:581px;
  width:659px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:642px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:659px;
  height:1px;
}
#u75 {
  position:absolute;
  left:676px;
  top:630px;
  width:100px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:850px;
  top:72px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u77 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
