body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:890px;
  height:790px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:790px;
}
#u1 {
  position:absolute;
  left:2px;
  top:387px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:780px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:780px;
}
#u3 {
  position:absolute;
  left:2px;
  top:382px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:159px;
  top:0px;
  width:721px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:18px;
  top:17px;
  width:101px;
  height:28px;
  font-size:20px;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:722px;
  top:16px;
  width:103px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:832px;
  top:16px;
  width:27px;
  height:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:178px;
  width:160px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:28px;
  top:85px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:27px;
  top:139px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:28px;
  top:246px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:28px;
  top:299px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:28px;
  top:192px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:175px;
  top:102px;
  width:696px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:679px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:4px;
  width:696px;
  height:2px;
}
#u25 {
  position:absolute;
  left:175px;
  top:71px;
  width:124px;
  height:35px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:203px;
  top:78px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:203px;
  top:132px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:300px;
  top:132px;
  width:249px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:203px;
  top:178px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:300px;
  top:178px;
  width:249px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:203px;
  top:220px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:300px;
  top:220px;
  width:200px;
  height:22px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37_input:disabled {
  color:grayText;
}
#u38 {
  position:absolute;
  left:203px;
  top:265px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:300px;
  top:265px;
  width:249px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:203px;
  top:310px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:300px;
  top:310px;
  width:249px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:203px;
  top:355px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:300px;
  top:355px;
  width:249px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:203px;
  top:402px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:300px;
  top:399px;
  width:249px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:203px;
  top:486px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:300px;
  top:484px;
  width:69px;
  height:22px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u52_input:disabled {
  color:grayText;
}
#u53 {
  position:absolute;
  left:379px;
  top:484px;
  width:69px;
  height:22px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u53_input:disabled {
  color:grayText;
}
#u54 {
  position:absolute;
  left:458px;
  top:484px;
  width:69px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u54_input:disabled {
  color:grayText;
}
#u55 {
  position:absolute;
  left:203px;
  top:524px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:300px;
  top:522px;
  width:249px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  position:absolute;
  left:203px;
  top:567px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:300px;
  top:565px;
  width:249px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:203px;
  top:445px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:300px;
  top:442px;
  width:249px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:203px;
  top:610px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:300px;
  top:610px;
  width:99px;
  height:92px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:92px;
}
#u67 {
  position:absolute;
  left:2px;
  top:38px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:409px;
  top:612px;
  width:53px;
  height:18px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:300px;
  top:722px;
  width:79px;
  height:38px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u71 {
  position:absolute;
  left:0px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
