body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:565px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:565px;
}
#u2 {
  position:absolute;
  left:2px;
  top:274px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:2px;
  top:519px;
  width:314px;
  height:45px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:45px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:262px;
  top:524px;
  width:20px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:258px;
  top:544px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:35px;
  top:523px;
  width:20px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:32px;
  top:544px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:142px;
  top:509px;
  width:35px;
  height:35px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:206px;
  top:524px;
  width:20px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:142px;
  top:544px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:197px;
  top:544px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:1px;
  top:1px;
  width:314px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1px;
  top:1px;
  width:314px;
  height:13px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:13px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:90px;
  top:544px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:94px;
  top:524px;
  width:20px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:18px;
  top:126px;
  width:280px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u30 {
  position:absolute;
  left:18px;
  top:83px;
  width:280px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u31 {
  position:absolute;
  left:18px;
  top:175px;
  width:280px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u32 {
  position:absolute;
  left:4px;
  top:480px;
  width:307px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:373px;
  top:0px;
  width:317px;
  height:565px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:565px;
}
#u36 {
  position:absolute;
  left:2px;
  top:274px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:375px;
  top:519px;
  width:314px;
  height:45px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:45px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:635px;
  top:524px;
  width:20px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:631px;
  top:544px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:408px;
  top:523px;
  width:20px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:405px;
  top:544px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:515px;
  top:509px;
  width:35px;
  height:35px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:579px;
  top:524px;
  width:20px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:515px;
  top:544px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:570px;
  top:544px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:374px;
  top:1px;
  width:314px;
  height:60px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:22px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:374px;
  top:1px;
  width:314px;
  height:13px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:13px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:463px;
  top:544px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:467px;
  top:524px;
  width:20px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:140px;
  top:28px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:495px;
  top:28px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:0px;
  top:23px;
  width:35px;
  height:35px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:385px;
  top:22px;
  width:35px;
  height:35px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:430px;
  top:90px;
  width:40px;
  height:40px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:480px;
  top:102px;
  width:40px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:615px;
  top:100px;
  width:20px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:430px;
  top:140px;
  width:40px;
  height:40px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:480px;
  top:152px;
  width:40px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:430px;
  top:190px;
  width:40px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:480px;
  top:202px;
  width:40px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:430px;
  top:240px;
  width:40px;
  height:40px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:480px;
  top:252px;
  width:40px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:615px;
  top:150px;
  width:20px;
  height:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:615px;
  top:200px;
  width:20px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:615px;
  top:250px;
  width:20px;
  height:20px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:685px;
  top:113px;
  width:-40px;
  height:0px;
}
#u95_seg0 {
  position:absolute;
  left:-44px;
  top:-10px;
  width:54px;
  height:20px;
}
#u96 {
  position:absolute;
  left:-70px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:692px;
  top:105px;
  width:108px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:378px;
  top:482px;
  width:307px;
  height:30px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  word-wrap:break-word;
}
