body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:511px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:511px;
}
#u3 {
  position:absolute;
  left:129px;
  top:69px;
  width:16px;
  height:20px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:49px;
  top:98px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:83px;
  width:301px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u9 {
  position:absolute;
  left:29px;
  top:91px;
  width:16px;
  height:23px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:190px;
  width:301px;
  height:70px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:70px;
}
#u12 {
  position:absolute;
  left:2px;
  top:27px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:121px;
  width:301px;
  height:70px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:70px;
}
#u14 {
  position:absolute;
  left:2px;
  top:27px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:114px;
  width:301px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u16 {
  position:absolute;
  left:56px;
  top:132px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:118px;
  top:137px;
  width:194px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:117px;
  top:167px;
  width:87px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:56px;
  top:200px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:118px;
  top:205px;
  width:194px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:117px;
  top:235px;
  width:87px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:20px;
  top:260px;
  width:301px;
  height:70px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:70px;
}
#u29 {
  position:absolute;
  left:2px;
  top:27px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:56px;
  top:270px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:118px;
  top:275px;
  width:194px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:117px;
  top:305px;
  width:87px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:330px;
  width:301px;
  height:70px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:70px;
}
#u37 {
  position:absolute;
  left:2px;
  top:27px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:56px;
  top:340px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:118px;
  top:345px;
  width:194px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:117px;
  top:375px;
  width:87px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:141px;
  top:547px;
  width:92px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:136px;
  top:95px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:29px;
  top:150px;
  width:12px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:29px;
  top:218px;
  width:12px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:29px;
  top:288px;
  width:12px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:29px;
  top:358px;
  width:12px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
