body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:43px;
  width:129px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:100px;
  width:415px;
  height:304px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:44px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:44px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:166px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:170px;
  top:0px;
  width:240px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:236px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:44px;
  width:170px;
  height:37px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:170px;
  top:44px;
  width:240px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:81px;
  width:170px;
  height:48px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:170px;
  top:81px;
  width:240px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:48px;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:236px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:129px;
  width:170px;
  height:34px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:170px;
  top:129px;
  width:240px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:163px;
  width:170px;
  height:34px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:170px;
  top:163px;
  width:240px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:197px;
  width:170px;
  height:34px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:170px;
  top:197px;
  width:240px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:231px;
  width:170px;
  height:34px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:170px;
  top:231px;
  width:240px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:265px;
  width:170px;
  height:34px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:170px;
  top:265px;
  width:240px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
