body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:297px;
  height:620px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:620px;
}
#u2 {
  position:absolute;
  left:2px;
  top:302px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:83px;
  top:196px;
  width:227px;
  height:154px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:154px;
}
#u4 {
  position:absolute;
  left:2px;
  top:69px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:83px;
  top:176px;
  width:227px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:210px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:227px;
  height:1px;
}
#u6 {
  position:absolute;
  left:83px;
  top:153px;
  width:91px;
  height:23px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:85px;
  top:360px;
  width:227px;
  height:96px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:96px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:74px;
  top:100px;
  width:250px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:285px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:83px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
