body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:20px;
  width:360px;
  height:740px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:129px;
  width:304px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:300px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:216px;
  top:236px;
  width:291px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u6 {
  position:absolute;
  left:212px;
  top:606px;
  width:300px;
  height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:227px;
  top:622px;
  width:38px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:314px;
  top:621px;
  width:37px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:470px;
  top:614px;
  width:32px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:399px;
  top:615px;
  width:30px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:212px;
  top:136px;
  width:32px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:216px;
  top:182px;
  width:300px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:216px;
  top:215px;
  width:141px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:227px;
  top:256px;
  width:300px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:425px;
  top:215px;
  width:74px;
  height:15px;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:218px;
  top:492px;
  width:283px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:266px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:283px;
  height:1px;
}
#u27 {
  position:absolute;
  left:218px;
  top:525px;
  width:300px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:440px;
  top:502px;
  width:60px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
