body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:40px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:80px;
  width:670px;
  height:360px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:360px;
}
#u3 {
  position:absolute;
  left:2px;
  top:172px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:202px;
  width:170px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:239px;
  width:80px;
  height:73px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:73px;
}
#u7 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:319px;
  width:170px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:356px;
  width:170px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:208px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:60px;
  top:244px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:63px;
  top:319px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:63px;
  top:362px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:153px;
  top:100px;
  width:170px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:100px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:153px;
  top:140px;
  width:170px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:60px;
  top:140px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:60px;
  top:182px;
  width:630px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:613px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:630px;
  height:1px;
}
#u29 {
  position:absolute;
  left:360px;
  top:121px;
  width:305px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:38px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
