body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:100px;
  width:89px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:131px;
  width:775px;
  height:65px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:109px;
  top:0px;
  width:519px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:515px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:628px;
  top:0px;
  width:142px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:109px;
  top:30px;
  width:519px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:628px;
  top:30px;
  width:142px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:36px;
  top:40px;
  width:193px;
  height:45px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
