body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:474px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:60px;
  width:424px;
  height:848px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u1 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:75px;
  top:149px;
  width:375px;
  height:667px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3 {
  position:absolute;
  left:50px;
  top:20px;
  width:27px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:235px;
  top:149px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:75px;
  top:149px;
  width:375px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:99px;
  top:190px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:99px;
  top:240px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:110px;
  top:280px;
  width:71px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:219px;
  top:280px;
  width:71px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:334px;
  top:280px;
  width:71px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:108px;
  top:415px;
  width:300px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:110px;
  top:330px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:191px;
  top:332px;
  width:214px;
  height:28px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:110px;
  top:380px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:185px;
  top:378px;
  width:53px;
  height:22px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:256px;
  top:380px;
  width:56px;
  height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:343px;
  top:193px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:319px;
  top:470px;
  width:92px;
  height:18px;
  text-decoration:underline;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:50px;
  top:1080px;
  width:424px;
  height:848px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u33 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:75px;
  top:1169px;
  width:375px;
  height:667px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u35 {
  position:absolute;
  left:50px;
  top:1025px;
  width:53px;
  height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:235px;
  top:1169px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:75px;
  top:1169px;
  width:375px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:98px;
  top:1210px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:160px;
  top:1255px;
  width:260px;
  height:35px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:99px;
  top:1265px;
  width:40px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:159px;
  top:1315px;
  width:260px;
  height:35px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:98px;
  top:1325px;
  width:40px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:98px;
  top:1375px;
  width:232px;
  height:35px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:330px;
  top:1375px;
  width:90px;
  height:35px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:98px;
  top:1445px;
  width:321px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:327px;
  top:1494px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:342px;
  top:1214px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
