body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:297px;
  height:620px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:620px;
}
#u2 {
  position:absolute;
  left:2px;
  top:302px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:83px;
  top:196px;
  width:227px;
  height:154px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:154px;
}
#u4 {
  position:absolute;
  left:2px;
  top:69px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:83px;
  top:176px;
  width:227px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:210px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:227px;
  height:1px;
}
#u6 {
  position:absolute;
  left:83px;
  top:153px;
  width:91px;
  height:23px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:85px;
  top:360px;
  width:227px;
  height:96px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:96px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:83px;
  top:490px;
  width:230px;
  height:40px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:74px;
  top:100px;
  width:250px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:285px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:83px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:74px;
  top:100px;
  width:252px;
  height:440px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:440px;
}
#u18 {
  position:absolute;
  left:2px;
  top:212px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:150px;
  top:140px;
  width:110px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:156px;
  top:169px;
  width:71px;
  height:41px;
  font-size:36px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:124px;
  top:220px;
  width:161px;
  height:15px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:95px;
  top:265px;
  width:100px;
  height:45px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:205px;
  top:265px;
  width:100px;
  height:45px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:96px;
  top:318px;
  width:205px;
  height:105px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:105px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
