body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:10px;
  width:297px;
  height:620px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:620px;
}
#u2 {
  position:absolute;
  left:2px;
  top:302px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:73px;
  top:100px;
  width:250px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:84px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:286px;
  top:112px;
  width:30px;
  height:15px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:242px;
  top:150px;
  width:74px;
  height:40px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:84px;
  top:150px;
  width:148px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:105px;
  top:219px;
  width:146px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:86px;
  top:220px;
  width:14px;
  height:13px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
