body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:80px;
  width:380px;
  height:775px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:775px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:162px;
  top:194px;
  width:320px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:175px;
  top:205px;
  width:32px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:162px;
  top:290px;
  width:320px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:162px;
  top:332px;
  width:320px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:162px;
  top:375px;
  width:320px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:198px;
  top:297px;
  width:56px;
  height:19px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:272px;
  top:297px;
  width:200px;
  height:22px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14_input:disabled {
  color:grayText;
}
#u15 {
  position:absolute;
  left:220px;
  top:337px;
  width:34px;
  height:19px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:272px;
  top:337px;
  width:200px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
#u18 {
  position:absolute;
  left:198px;
  top:383px;
  width:56px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:272px;
  top:383px;
  width:200px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:189px;
  top:463px;
  width:274px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
