body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:511px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:511px;
}
#u3 {
  position:absolute;
  left:129px;
  top:69px;
  width:16px;
  height:20px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:49px;
  top:98px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:29px;
  top:91px;
  width:16px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:83px;
  width:301px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u11 {
  position:absolute;
  left:20px;
  top:114px;
  width:301px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u12 {
  position:absolute;
  left:114px;
  top:284px;
  width:97px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
