body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:24px;
  width:1382px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1093px;
  top:42px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:972px;
  top:42px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:860px;
  top:42px;
  width:57px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:43px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:53px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:103px;
  width:1382px;
  height:727px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:727px;
}
#u9 {
  position:absolute;
  left:2px;
  top:356px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:104px;
  width:260px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:102px;
  top:111px;
  width:90px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:294px;
  top:104px;
  width:32px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:136px;
  width:260px;
  height:29px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:80px;
  top:192px;
  width:260px;
  height:29px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:294px;
  top:136px;
  width:32px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1232px;
  top:42px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:150px;
  top:49px;
  width:120px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:652px;
  top:144px;
  width:61px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:340px;
  top:103px;
  width:1111px;
  height:205px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:205px;
}
#u29 {
  position:absolute;
  left:2px;
  top:94px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:367px;
  top:220px;
  width:280px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:342px;
  top:311px;
  width:1109px;
  height:472px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:472px;
}
#u33 {
  position:absolute;
  left:2px;
  top:228px;
  width:1105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1244px;
  top:350px;
  width:70px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1117px;
  top:390px;
  width:80px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1118px;
  top:444px;
  width:80px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:429px;
  top:162px;
  width:70px;
  height:26px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u40_input:disabled {
  color:grayText;
}
#u41 {
  position:absolute;
  left:1348px;
  top:388px;
  width:85px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:378px;
  top:320px;
  width:86px;
  height:22px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:82px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:369px;
  top:191px;
  width:350px;
  height:44px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:44px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:80px;
  top:164px;
  width:260px;
  height:29px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:295px;
  top:166px;
  width:32px;
  height:32px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:369px;
  top:206px;
  width:65px;
  height:17px;
  font-size:12px;
  text-align:right;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u52 {
  position:absolute;
  left:2px;
  top:1px;
  width:61px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:619px;
  top:43px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u54 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:729px;
  top:43px;
  width:62px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:644px;
  top:355px;
  width:50px;
  height:20px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:80px;
  top:220px;
  width:260px;
  height:29px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:295px;
  top:189px;
  width:32px;
  height:32px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:433px;
  top:191px;
  width:290px;
  height:54px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:54px;
}
#u64 {
  position:absolute;
  left:2px;
  top:19px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:534px;
  top:232px;
  width:160px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:478px;
  top:355px;
  width:56px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:454px;
  top:385px;
  width:90px;
  height:45px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u70 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:454px;
  top:432px;
  width:90px;
  height:45px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:461px;
  top:483px;
  width:90px;
  height:45px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:461px;
  top:530px;
  width:90px;
  height:45px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:461px;
  top:585px;
  width:90px;
  height:45px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u78 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:461px;
  top:632px;
  width:90px;
  height:45px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u80 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:461px;
  top:684px;
  width:90px;
  height:45px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u82 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:461px;
  top:731px;
  width:90px;
  height:45px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u84 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:619px;
  top:385px;
  width:104px;
  height:45px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
}
#u86 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:619px;
  top:432px;
  width:104px;
  height:45px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
}
#u88 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:619px;
  top:483px;
  width:115px;
  height:45px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u90 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:619px;
  top:530px;
  width:115px;
  height:45px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u92 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:625px;
  top:585px;
  width:115px;
  height:45px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u94 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:625px;
  top:632px;
  width:115px;
  height:45px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u96 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:625px;
  top:689px;
  width:115px;
  height:45px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u98 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:625px;
  top:736px;
  width:115px;
  height:45px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u100 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:842px;
  top:357px;
  width:50px;
  height:20px;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1117px;
  top:489px;
  width:80px;
  height:30px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1118px;
  top:543px;
  width:80px;
  height:30px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1122px;
  top:585px;
  width:80px;
  height:30px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1122px;
  top:639px;
  width:80px;
  height:30px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1122px;
  top:685px;
  width:80px;
  height:30px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1122px;
  top:739px;
  width:80px;
  height:30px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-1px;
  width:76px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1348px;
  top:438px;
  width:85px;
  height:40px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u116 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1348px;
  top:488px;
  width:85px;
  height:40px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1348px;
  top:538px;
  width:85px;
  height:40px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1348px;
  top:588px;
  width:85px;
  height:40px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1348px;
  top:638px;
  width:85px;
  height:40px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1348px;
  top:688px;
  width:85px;
  height:40px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1348px;
  top:738px;
  width:85px;
  height:40px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1122px;
  top:350px;
  width:70px;
  height:30px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1118px;
  top:445px;
  width:80px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1122px;
  top:489px;
  width:80px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1123px;
  top:544px;
  width:80px;
  height:30px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1121px;
  top:585px;
  width:80px;
  height:30px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1122px;
  top:640px;
  width:80px;
  height:30px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1122px;
  top:684px;
  width:80px;
  height:30px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1123px;
  top:739px;
  width:80px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:801px;
  top:383px;
  width:121px;
  height:398px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:398px;
}
#u146 {
  position:absolute;
  left:2px;
  top:191px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1044px;
  top:360px;
  width:50px;
  height:20px;
  text-align:left;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u148 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:1024px;
  top:383px;
  width:84px;
  height:398px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:398px;
}
#u150 {
  position:absolute;
  left:2px;
  top:191px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:295px;
  top:217px;
  width:32px;
  height:32px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u152 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
