body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:170px;
  width:1000px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:78px;
  width:1000px;
  height:82px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:82px;
}
#u3 {
  position:absolute;
  left:2px;
  top:33px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:0px;
  width:1000px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:948px;
  top:15px;
  width:82px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:8px;
  width:97px;
  height:29px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:730px;
  top:104px;
  width:200px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:920px;
  top:104px;
  width:100px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:910px;
  top:50px;
  width:139px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:50px;
  width:139px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:188px;
  top:50px;
  width:139px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:326px;
  top:50px;
  width:139px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:465px;
  top:50px;
  width:168px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:633px;
  top:50px;
  width:139px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:772px;
  top:50px;
  width:139px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:110px;
  top:55px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:366px;
  top:56px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:662px;
  top:56px;
  width:80px;
  height:19px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:940px;
  top:55px;
  width:80px;
  height:19px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:222px;
  top:56px;
  width:70px;
  height:19px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:516px;
  top:56px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:802px;
  top:56px;
  width:80px;
  height:19px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:70px;
  top:190px;
  width:257px;
  height:170px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:170px;
}
#u42 {
  position:absolute;
  left:2px;
  top:77px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:164px;
  top:260px;
  width:71px;
  height:29px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:351px;
  top:190px;
  width:97px;
  height:29px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:351px;
  top:238px;
  width:300px;
  height:122px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:122px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:490px;
  top:190px;
  width:153px;
  height:29px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:29px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:208px;
  top:675px;
  width:179px;
  height:40px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:70px;
  top:455px;
  width:480px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:476px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:70px;
  top:505px;
  width:480px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:476px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:70px;
  top:555px;
  width:480px;
  height:40px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:476px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:70px;
  top:605px;
  width:480px;
  height:40px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:476px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:238px;
  top:410px;
  width:145px;
  height:29px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
