body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:837px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:25px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:58px;
  top:60px;
  width:779px;
  height:105px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:105px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  white-space:nowrap;
}
