body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:51px;
  width:380px;
  height:775px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:775px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:228px;
  top:248px;
  width:250px;
  height:110px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:110px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:222px;
  top:379px;
  width:48px;
  height:15px;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:279px;
  top:376px;
  width:168px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:267px;
  top:605px;
  width:168px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:192px;
  top:164px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:202px;
  top:173px;
  width:32px;
  height:32px;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:227px;
  top:465px;
  width:38px;
  height:15px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:279px;
  top:460px;
  width:168px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:202px;
  top:404px;
  width:298px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:298px;
  height:1px;
}
#u15 {
  position:absolute;
  left:196px;
  top:490px;
  width:298px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:298px;
  height:1px;
}
#u16 {
  position:absolute;
  left:202px;
  top:440px;
  width:298px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:298px;
  height:1px;
}
#u17 {
  position:absolute;
  left:217px;
  top:417px;
  width:62px;
  height:15px;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:279px;
  top:414px;
  width:168px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:213px;
  top:510px;
  width:300px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:279px;
  top:505px;
  width:156px;
  height:65px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:65px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
