body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:823px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:28px;
  top:20px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:31px;
  top:58px;
  width:797px;
  height:321px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:220px;
  top:0px;
  width:572px;
  height:41px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:41px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:41px;
  width:220px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:220px;
  top:41px;
  width:572px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:71px;
  width:220px;
  height:146px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:146px;
}
#u12 {
  position:absolute;
  left:2px;
  top:64px;
  width:216px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:220px;
  top:71px;
  width:572px;
  height:146px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:146px;
}
#u14 {
  position:absolute;
  left:2px;
  top:65px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:217px;
  width:220px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:220px;
  top:217px;
  width:572px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:247px;
  width:220px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:220px;
  top:247px;
  width:572px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:277px;
  width:220px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:39px;
}
#u24 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:220px;
  top:277px;
  width:572px;
  height:39px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:39px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:259px;
  top:103px;
  width:200px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:259px;
  top:155px;
  width:461px;
  height:100px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:259px;
  top:279px;
  width:200px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:259px;
  top:309px;
  width:200px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:259px;
  top:338px;
  width:524px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:251px;
  top:388px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:260px;
  top:70px;
  width:200px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34 {
  position:absolute;
  left:31px;
  top:500px;
  width:649px;
  height:210px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:210px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:31px;
  top:465px;
  width:40px;
  height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
