body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:120px;
  width:360px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:90px;
  width:308px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:150px;
  top:215px;
  width:200px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:255px;
  width:200px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:340px;
  width:200px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:380px;
  width:200px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:263px;
  width:78px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:50px;
  top:348px;
  width:78px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:50px;
  top:388px;
  width:78px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:50px;
  top:223px;
  width:78px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:50px;
  top:183px;
  width:52px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:150px;
  top:183px;
  width:50px;
  height:15px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:200px;
  top:183px;
  width:50px;
  height:15px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:250px;
  top:183px;
  width:50px;
  height:15px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:150px;
  top:135px;
  width:200px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:50px;
  top:143px;
  width:78px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:30px;
  top:20px;
  width:421px;
  height:60px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:417px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:80px;
  top:815px;
  width:110px;
  height:35px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:210px;
  top:815px;
  width:110px;
  height:35px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:150px;
  top:425px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:57px;
  top:443px;
  width:27px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:150px;
  top:485px;
  width:200px;
  height:290px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:290px;
}
#u41 {
  position:absolute;
  left:2px;
  top:137px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:54px;
  top:493px;
  width:27px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:410px;
  top:120px;
  width:360px;
  height:800px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
}
#u45 {
  position:absolute;
  left:2px;
  top:392px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:530px;
  top:215px;
  width:200px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:530px;
  top:255px;
  width:200px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:530px;
  top:340px;
  width:200px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:530px;
  top:380px;
  width:200px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:430px;
  top:263px;
  width:78px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:430px;
  top:348px;
  width:78px;
  height:15px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:430px;
  top:388px;
  width:78px;
  height:15px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:430px;
  top:223px;
  width:78px;
  height:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:430px;
  top:183px;
  width:52px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:530px;
  top:183px;
  width:50px;
  height:15px;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:580px;
  top:183px;
  width:50px;
  height:15px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:630px;
  top:183px;
  width:50px;
  height:15px;
}
#u69 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u68_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70 {
  position:absolute;
  left:530px;
  top:135px;
  width:200px;
  height:30px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:430px;
  top:143px;
  width:78px;
  height:15px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:460px;
  top:815px;
  width:110px;
  height:35px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u75 {
  position:absolute;
  left:590px;
  top:815px;
  width:110px;
  height:35px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:530px;
  top:425px;
  width:50px;
  height:50px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u77 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:437px;
  top:443px;
  width:27px;
  height:15px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:530px;
  top:485px;
  width:200px;
  height:290px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:290px;
}
#u81 {
  position:absolute;
  left:2px;
  top:137px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:434px;
  top:493px;
  width:27px;
  height:15px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:150px;
  top:295px;
  width:200px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:50px;
  top:303px;
  width:78px;
  height:15px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:530px;
  top:295px;
  width:200px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:430px;
  top:303px;
  width:78px;
  height:15px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:30px;
  top:950px;
  width:360px;
  height:800px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
}
#u93 {
  position:absolute;
  left:2px;
  top:392px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:150px;
  top:1045px;
  width:200px;
  height:30px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:150px;
  top:1085px;
  width:200px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:150px;
  top:1170px;
  width:200px;
  height:30px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:150px;
  top:1210px;
  width:200px;
  height:30px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:50px;
  top:1093px;
  width:78px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:50px;
  top:1178px;
  width:78px;
  height:15px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:50px;
  top:1218px;
  width:78px;
  height:15px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:50px;
  top:1053px;
  width:78px;
  height:15px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:50px;
  top:1013px;
  width:52px;
  height:15px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:150px;
  top:1013px;
  width:50px;
  height:15px;
}
#u113 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u112_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  position:absolute;
  left:200px;
  top:1013px;
  width:50px;
  height:15px;
}
#u115 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u114_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u116 {
  position:absolute;
  left:250px;
  top:1013px;
  width:50px;
  height:15px;
}
#u117 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u116_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118 {
  position:absolute;
  left:150px;
  top:965px;
  width:200px;
  height:30px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:50px;
  top:973px;
  width:78px;
  height:15px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:80px;
  top:1645px;
  width:110px;
  height:35px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u123 {
  position:absolute;
  left:210px;
  top:1645px;
  width:110px;
  height:35px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u124 {
  position:absolute;
  left:150px;
  top:1255px;
  width:50px;
  height:50px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u125 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:57px;
  top:1273px;
  width:27px;
  height:15px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:150px;
  top:1315px;
  width:200px;
  height:290px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:290px;
}
#u129 {
  position:absolute;
  left:2px;
  top:137px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:54px;
  top:1323px;
  width:27px;
  height:15px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:150px;
  top:1125px;
  width:200px;
  height:30px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u133 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:50px;
  top:1133px;
  width:78px;
  height:15px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:460px;
  top:860px;
  width:110px;
  height:35px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u137 {
  position:absolute;
  left:412px;
  top:950px;
  width:355px;
  height:230px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:230px;
}
#u138 {
  position:absolute;
  left:2px;
  top:107px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:492px;
  top:1026px;
  width:200px;
  height:30px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:437px;
  top:1034px;
  width:39px;
  height:15px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:492px;
  top:1066px;
  width:200px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:437px;
  top:1074px;
  width:39px;
  height:15px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:530px;
  top:1113px;
  width:110px;
  height:35px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u148 {
  position:absolute;
  left:552px;
  top:976px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
