body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:511px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:511px;
}
#u3 {
  position:absolute;
  left:129px;
  top:69px;
  width:16px;
  height:20px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:68px;
  width:301px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:49px;
  top:98px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:29px;
  top:91px;
  width:16px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:83px;
  width:301px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u11 {
  position:absolute;
  left:136px;
  top:95px;
  width:70px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11_input:disabled {
  color:grayText;
}
#u12 {
  position:absolute;
  left:20px;
  top:124px;
  width:301px;
  height:90px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:37px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:137px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:120px;
  top:138px;
  width:196px;
  height:32px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:212px;
  top:182px;
  width:94px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:120px;
  top:182px;
  width:61px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:30px;
  top:153px;
  width:20px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:20px;
  top:212px;
  width:301px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:50px;
  top:232px;
  width:60px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:120px;
  top:231px;
  width:192px;
  height:32px;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:212px;
  top:275px;
  width:94px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:120px;
  top:275px;
  width:61px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:30px;
  top:254px;
  width:20px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:20px;
  top:540px;
  width:301px;
  height:39px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:39px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:552px;
  width:46px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:81px;
  top:547px;
  width:79px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:160px;
  top:547px;
  width:79px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:239px;
  top:547px;
  width:79px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
