body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:109px;
  width:382px;
  height:661px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:661px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:40px;
  width:55px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:48px;
  top:1405px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:48px;
  top:1450px;
  width:782px;
  height:120px;
  font-size:14px;
  color:#000000;
  line-height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:120px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:48px;
  top:835px;
  width:66px;
  height:13px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:48px;
  top:870px;
  width:382px;
  height:470px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:470px;
}
#u11 {
  position:absolute;
  left:2px;
  top:227px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:58px;
  top:880px;
  width:136px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:58px;
  top:1309px;
  width:137px;
  height:15px;
  color:#868686;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:58px;
  top:910px;
  width:364px;
  height:150px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:150px;
}
#u17 {
  position:absolute;
  left:2px;
  top:67px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:58px;
  top:910px;
  width:364px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:65px;
  top:918px;
  width:164px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:73px;
  top:949px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:136px;
  top:949px;
  width:274px;
  height:36px;
  line-height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:36px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:393px;
  top:973px;
  width:17px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:58px;
  top:1009px;
  width:364px;
  height:51px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:51px;
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:65px;
  top:1023px;
  width:100px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:336px;
  top:1039px;
  width:74px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:58px;
  top:1070px;
  width:364px;
  height:224px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:224px;
}
#u34 {
  position:absolute;
  left:2px;
  top:104px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:58px;
  top:1070px;
  width:364px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:65px;
  top:1078px;
  width:164px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:73px;
  top:1109px;
  width:50px;
  height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:136px;
  top:1109px;
  width:274px;
  height:36px;
  line-height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:36px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:393px;
  top:1130px;
  width:17px;
  height:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:58px;
  top:1244px;
  width:364px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:338px;
  top:1272px;
  width:74px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:68px;
  top:1256px;
  width:100px;
  height:27px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:72px;
  top:1180px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:134px;
  top:1180px;
  width:274px;
  height:36px;
  line-height:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:36px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:392px;
  top:1201px;
  width:17px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:322px;
  top:1304px;
  width:100px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:220px;
  top:1365px;
  width:21px;
  height:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:370px;
  top:1079px;
  width:40px;
  height:13px;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:73px;
  top:1160px;
  width:335px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:318px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:335px;
  height:1px;
}
#u62 {
  position:absolute;
  left:448px;
  top:870px;
  width:382px;
  height:470px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:470px;
}
#u63 {
  position:absolute;
  left:2px;
  top:227px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:458px;
  top:880px;
  width:136px;
  height:15px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:458px;
  top:1309px;
  width:137px;
  height:15px;
  color:#868686;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:15px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:458px;
  top:910px;
  width:364px;
  height:150px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:150px;
}
#u69 {
  position:absolute;
  left:2px;
  top:67px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:458px;
  top:910px;
  width:364px;
  height:30px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:465px;
  top:918px;
  width:164px;
  height:15px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:473px;
  top:949px;
  width:50px;
  height:50px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u75 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:536px;
  top:949px;
  width:274px;
  height:36px;
  line-height:18px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:36px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:793px;
  top:973px;
  width:17px;
  height:15px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:458px;
  top:1009px;
  width:364px;
  height:51px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:51px;
}
#u81 {
  position:absolute;
  left:2px;
  top:18px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:570px;
  top:1023px;
  width:100px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:465px;
  top:1023px;
  width:100px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u84 {
  position:absolute;
  left:722px;
  top:1019px;
  width:87px;
  height:15px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:736px;
  top:1039px;
  width:74px;
  height:15px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:458px;
  top:1070px;
  width:364px;
  height:224px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:224px;
}
#u89 {
  position:absolute;
  left:2px;
  top:104px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:458px;
  top:1070px;
  width:364px;
  height:30px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:465px;
  top:1078px;
  width:164px;
  height:15px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:473px;
  top:1109px;
  width:50px;
  height:50px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:536px;
  top:1109px;
  width:274px;
  height:36px;
  line-height:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:36px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:793px;
  top:1130px;
  width:17px;
  height:15px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:458px;
  top:1244px;
  width:364px;
  height:50px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:572px;
  top:1255px;
  width:100px;
  height:27px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u103 {
  position:absolute;
  left:738px;
  top:1272px;
  width:74px;
  height:15px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:468px;
  top:1256px;
  width:100px;
  height:27px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u106 {
  position:absolute;
  left:725px;
  top:1251px;
  width:87px;
  height:15px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:472px;
  top:1180px;
  width:50px;
  height:50px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u109 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:534px;
  top:1180px;
  width:274px;
  height:36px;
  line-height:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:36px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:792px;
  top:1201px;
  width:17px;
  height:15px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:768px;
  top:919px;
  width:40px;
  height:13px;
  color:#FF0000;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:473px;
  top:1160px;
  width:335px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:318px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:335px;
  height:1px;
}
#u117 {
  position:absolute;
  left:376px;
  top:918px;
  width:40px;
  height:13px;
  color:#FF0000;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:770px;
  top:1080px;
  width:40px;
  height:13px;
  color:#FF0000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:639px;
  top:1370px;
  width:21px;
  height:15px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:62px;
  top:76px;
  width:79px;
  height:13px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:48px;
  top:1655px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:48px;
  top:1868px;
  width:347px;
  height:35px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u129 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:86px;
  top:0px;
  width:86px;
  height:30px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u131 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:172px;
  top:0px;
  width:86px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u133 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:258px;
  top:0px;
  width:84px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u135 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:386px;
  top:2176px;
  width:77px;
  height:15px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:48px;
  top:1930px;
  width:1170px;
  height:233px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:233px;
}
#u139 {
  position:absolute;
  left:2px;
  top:108px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:48px;
  top:1930px;
  width:1170px;
  height:38px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:38px;
}
#u141 {
  position:absolute;
  left:2px;
  top:11px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:48px;
  top:1898px;
  width:1175px;
  height:37px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:32px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:301px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:305px;
  top:0px;
  width:146px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:451px;
  top:0px;
  width:63px;
  height:32px;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:514px;
  top:0px;
  width:137px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u150 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:651px;
  top:0px;
  width:97px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u152 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:748px;
  top:0px;
  width:135px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u154 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:883px;
  top:0px;
  width:146px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
}
#u156 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1029px;
  top:0px;
  width:141px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u158 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:65px;
  top:1978px;
  width:50px;
  height:50px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u160 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:125px;
  top:1982px;
  width:215px;
  height:36px;
  line-height:18px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:36px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:532px;
  top:1992px;
  width:8px;
  height:15px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:58px;
  top:1942px;
  width:137px;
  height:15px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:15px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:567px;
  top:1992px;
  width:119px;
  height:15px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:731px;
  top:1992px;
  width:27px;
  height:13px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:847px;
  top:1992px;
  width:40px;
  height:13px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:1090px;
  top:2068px;
  width:100px;
  height:25px;
}
#u173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u174 {
  position:absolute;
  left:65px;
  top:2078px;
  width:50px;
  height:50px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u175 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:125px;
  top:2082px;
  width:215px;
  height:36px;
  line-height:18px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:36px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:532px;
  top:2082px;
  width:8px;
  height:15px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:567px;
  top:2082px;
  width:119px;
  height:15px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:731px;
  top:2082px;
  width:27px;
  height:13px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:847px;
  top:2082px;
  width:40px;
  height:13px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:991px;
  top:2045px;
  width:29px;
  height:15px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:65px;
  top:2056px;
  width:861px;
  height:10px;
}
#u188_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_end {
  position:absolute;
  left:844px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_line {
  position:absolute;
  left:0px;
  top:5px;
  width:861px;
  height:1px;
}
#u189 {
  position:absolute;
  left:696px;
  top:1968px;
  width:10px;
  height:192px;
}
#u189_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u189_end {
  position:absolute;
  left:-5px;
  top:175px;
  width:20px;
  height:18px;
}
#u189_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:192px;
}
#u190 {
  position:absolute;
  left:350px;
  top:1968px;
  width:10px;
  height:192px;
}
#u190_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u190_end {
  position:absolute;
  left:-5px;
  top:175px;
  width:20px;
  height:18px;
}
#u190_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:192px;
}
#u191 {
  position:absolute;
  left:557px;
  top:1967px;
  width:10px;
  height:193px;
}
#u191_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u191_end {
  position:absolute;
  left:-5px;
  top:176px;
  width:20px;
  height:18px;
}
#u191_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:193px;
}
#u192 {
  position:absolute;
  left:790px;
  top:1968px;
  width:10px;
  height:192px;
}
#u192_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u192_end {
  position:absolute;
  left:-5px;
  top:175px;
  width:20px;
  height:18px;
}
#u192_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:192px;
}
#u193 {
  position:absolute;
  left:926px;
  top:1968px;
  width:10px;
  height:192px;
}
#u193_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u193_end {
  position:absolute;
  left:-5px;
  top:175px;
  width:20px;
  height:18px;
}
#u193_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:192px;
}
#u194 {
  position:absolute;
  left:1070px;
  top:1968px;
  width:10px;
  height:192px;
}
#u194_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u194_end {
  position:absolute;
  left:-5px;
  top:175px;
  width:20px;
  height:18px;
}
#u194_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:192px;
}
#u195 {
  position:absolute;
  left:1090px;
  top:2014px;
  width:100px;
  height:25px;
}
#u195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u196 {
  position:absolute;
  left:48px;
  top:1720px;
  width:53px;
  height:13px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:101px;
  top:1714px;
  width:200px;
  height:25px;
}
#u198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u199 {
  position:absolute;
  left:322px;
  top:1719px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u201 {
  position:absolute;
  left:411px;
  top:1714px;
  width:200px;
  height:25px;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u202 {
  position:absolute;
  left:48px;
  top:1755px;
  width:79px;
  height:13px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:127px;
  top:1749px;
  width:200px;
  height:25px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u205 {
  position:absolute;
  left:48px;
  top:1790px;
  width:66px;
  height:13px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:114px;
  top:1784px;
  width:136px;
  height:25px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u208 {
  position:absolute;
  left:276px;
  top:1784px;
  width:136px;
  height:25px;
}
#u208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u209 {
  position:absolute;
  left:260px;
  top:1789px;
  width:5px;
  height:15px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:422px;
  top:1784px;
  width:100px;
  height:25px;
}
#u211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u212 {
  position:absolute;
  left:522px;
  top:1784px;
  width:100px;
  height:25px;
}
#u212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u213 {
  position:absolute;
  left:48px;
  top:1830px;
  width:66px;
  height:13px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:124px;
  top:1824px;
  width:36px;
  height:25px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u216 {
  position:absolute;
  left:201px;
  top:1824px;
  width:36px;
  height:25px;
}
#u216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u217 {
  position:absolute;
  left:175px;
  top:1829px;
  width:26px;
  height:15px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:276px;
  top:1824px;
  width:100px;
  height:25px;
}
#u219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u220 {
  position:absolute;
  left:237px;
  top:1829px;
  width:14px;
  height:13px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:160px;
  top:1829px;
  width:14px;
  height:13px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:110px;
  top:1827px;
  width:14px;
  height:13px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:400px;
  top:1824px;
  width:100px;
  height:25px;
}
#u226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u227 {
  position:absolute;
  left:48px;
  top:2265px;
  width:658px;
  height:40px;
  font-size:14px;
  color:#000000;
  line-height:20px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:40px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:48px;
  top:2225px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u231 {
  position:absolute;
  left:65px;
  top:2038px;
  width:193px;
  height:15px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u233 {
  position:absolute;
  left:65px;
  top:2138px;
  width:193px;
  height:15px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u235 {
  position:absolute;
  left:493px;
  top:1967px;
  width:10px;
  height:192px;
}
#u235_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u235_end {
  position:absolute;
  left:-5px;
  top:175px;
  width:20px;
  height:18px;
}
#u235_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:192px;
}
#u236 {
  position:absolute;
  left:392px;
  top:2003px;
  width:78px;
  height:15px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:392px;
  top:2103px;
  width:78px;
  height:15px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:226px;
  top:1942px;
  width:184px;
  height:15px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
