body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:350px;
  top:20px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:350px;
  top:48px;
  width:200px;
  height:292px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u3 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:391px;
  top:360px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:40px;
  top:20px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:40px;
  top:48px;
  width:190px;
  height:302px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:302px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:453px;
  width:206px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:50px;
  top:428px;
  width:180px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
