body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:30px;
  width:360px;
  height:740px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:139px;
  width:304px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:243px;
  top:153px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#0066FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:137px;
  top:290px;
  width:291px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u7 {
  position:absolute;
  left:137px;
  top:328px;
  width:291px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u8 {
  position:absolute;
  left:137px;
  top:366px;
  width:291px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u9 {
  position:absolute;
  left:137px;
  top:400px;
  width:291px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u11 {
  position:absolute;
  left:132px;
  top:616px;
  width:300px;
  height:48px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:147px;
  top:632px;
  width:38px;
  height:16px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:234px;
  top:631px;
  width:37px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:390px;
  top:624px;
  width:32px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:319px;
  top:625px;
  width:30px;
  height:32px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:132px;
  top:146px;
  width:32px;
  height:32px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:136px;
  top:249px;
  width:291px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u24 {
  position:absolute;
  left:386px;
  top:146px;
  width:32px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:136px;
  top:224px;
  width:300px;
  height:24px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:404px;
  top:220px;
  width:32px;
  height:32px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:136px;
  top:263px;
  width:300px;
  height:24px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:404px;
  top:259px;
  width:32px;
  height:32px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:132px;
  top:302px;
  width:300px;
  height:24px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:400px;
  top:298px;
  width:32px;
  height:32px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:132px;
  top:341px;
  width:300px;
  height:24px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:400px;
  top:337px;
  width:32px;
  height:32px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:132px;
  top:375px;
  width:300px;
  height:24px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:400px;
  top:371px;
  width:32px;
  height:32px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:130px;
  top:184px;
  width:304px;
  height:31px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:31px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:167px;
  top:192px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:342px;
  top:191px;
  width:68px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:560px;
  top:30px;
  width:360px;
  height:740px;
  font-size:12px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:740px;
}
#u53 {
  position:absolute;
  left:2px;
  top:362px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:590px;
  top:139px;
  width:304px;
  height:45px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:45px;
}
#u55 {
  position:absolute;
  left:2px;
  top:14px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:710px;
  top:153px;
  width:70px;
  height:19px;
  font-size:16px;
  color:#0066FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:597px;
  top:290px;
  width:291px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u59 {
  position:absolute;
  left:597px;
  top:328px;
  width:291px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u60 {
  position:absolute;
  left:597px;
  top:366px;
  width:291px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u61 {
  position:absolute;
  left:597px;
  top:400px;
  width:291px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u63 {
  position:absolute;
  left:592px;
  top:616px;
  width:300px;
  height:48px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:607px;
  top:632px;
  width:38px;
  height:16px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:694px;
  top:631px;
  width:37px;
  height:16px;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:850px;
  top:624px;
  width:32px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:779px;
  top:625px;
  width:30px;
  height:32px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:592px;
  top:146px;
  width:32px;
  height:32px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:596px;
  top:249px;
  width:291px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u76 {
  position:absolute;
  left:596px;
  top:224px;
  width:300px;
  height:24px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:864px;
  top:220px;
  width:32px;
  height:32px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:596px;
  top:263px;
  width:300px;
  height:24px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:864px;
  top:259px;
  width:32px;
  height:32px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u83 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:860px;
  top:298px;
  width:32px;
  height:32px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u85 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:860px;
  top:337px;
  width:32px;
  height:32px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:860px;
  top:371px;
  width:32px;
  height:32px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:590px;
  top:184px;
  width:304px;
  height:31px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:31px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:627px;
  top:192px;
  width:53px;
  height:16px;
  color:#000000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:802px;
  top:191px;
  width:68px;
  height:16px;
  color:#0000FF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:597px;
  top:303px;
  width:300px;
  height:24px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:597px;
  top:340px;
  width:300px;
  height:24px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:598px;
  top:376px;
  width:300px;
  height:24px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
