body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:59px;
  width:380px;
  height:775px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:775px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:182px;
  top:173px;
  width:320px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:195px;
  top:184px;
  width:32px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:230px;
  top:370px;
  width:230px;
  height:35px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:287px;
  top:265px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:220px;
  top:268px;
  width:58px;
  height:15px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:220px;
  top:305px;
  width:58px;
  height:15px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:287px;
  top:300px;
  width:93px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:390px;
  top:300px;
  width:97px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
